.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    
}

.pages{
    display: flex;
    justify-content:center;
    list-style-type: none;
    
    
}

.list_items{
    padding: 2vh;
}